<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TAREA 3 NPC</title>
</head>

<body>

	<h1>Ingreso de nuevo alumno</h1>
	<form method="post" th:action="@{/validacion}">
		<label for="nombre">Nombres:</label>
		<input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre"/>
		<br>
		<label for="apellido">Apellidos:</label>
		<input type="text" id="apellido" name="apellido" placeholder="Ingrese sus apellidos"/>
		<br>
		<label for="nacimiento">Nacimiento:</label>
		<input type="date" id="nacimiento" name="nacimiento"/>
		<br>
		<label for="lugar">Lugar de nacimiento:</label>
		<input type="text" id="lugar" name="lugar" placeholder="Ingrese su lugar de nacimiento"/>
		<br>
		<label for="colegio">Instituto:</label>
		<input type="text" id="colegio" name="colegio" placeholder="Ingrese su instituto o colegio"/>
		<br>
		<label for="telefono">Telefono fijo:</label>
		<input type="number" id="telefono" name="telefono"/>
		<br>
		<label for="cel">Telefono celular:</label>
		<input type="number" id="cel" name="cel" />
		<br>
		<input type="submit" value="Guardar alumno" />
	</form>

</body>
</html>